@font-face {
    font-family: 'blabla';
    src: url(font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(font/Montserrat-Regular.ttf);
}

:root{
    --primary-color: #2C0648;
    --secondary-color: #062448 ;
    --tertiary-color: #9abddb;
    --linear-gradient: white;
    linear-gradient(90deg, rgba(44,6,72,1) 0%, rgba(44,6,72,1) 49%, #082349 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: var(--linear-gradient);
}

body{
    min-height: 100vh;
    position :relative;
}

.bar{
    background:var(--linear-gradient);
    height: 28px;
    width: 100%;
}

header{
    height: 73px;
    min-width: 100%;
    background: var(--tertiary-color);
    /* border: 1px solid black; */
    -webkit-box-shadow: 0px 6px 13px -5px #000000; 
    box-shadow: 0px 6px 13px -5px #000000;
    position :relative;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

#logo{
    height: 50px;
    width: 180px;
    margin-left: 10px;
}

header img{
    height: 82px;
    width: 277px;
}

section{
    height: 100%;
    width: 100%;
    background: var(--linear-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h2{
    color: white;
    font-size: 36px;
    font-family: 'blabla';
    margin-top: 20px;
}

section div{
    width: 90%;
    height: 100%;
    margin-top: 35px;
}

.paragraphe p{
    color: black;
    font-family: 'regular';
    font-size: 20px;
    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.border{
    border: 1px solid black;
    box-shadow: 0px 6px 13px -5px #000000;
    border-radius: 5px;
    padding-bottom: 10px;
}

a{
    height: 45px;
    width: 450px;
    background: var(--tertiary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    color: white; 
    font-family: 'blabla';
    font-size: 18px;
    text-decoration: none;
    margin-top: 60px;

}

a:hover{
    background: #446c8d;
}

footer{
    background: var(--linear-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#footer-img{
    display: block;
    height: 147px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.footer{
    height: 215px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#datadock{
    height: 97px;
}

#qualiopi{
    height: 97px;
}

#macaron{
    height: 120px;
}

.centrage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#proof{
    height: 200px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'regular';
}

#copyright{
    font-family: 'regular';
    color: black;
    background: var(--tertiary-color);
    -webkit-box-shadow: 0px 6px 13px -5px #000000; 
    box-shadow: 0px 6px 13px -5px #000000;
    width: 100%;
    text-align: center;
}

#foot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.bold{
    font-family: 'blabla';
}

.together{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10px;
}

.first{
    height: 200px;
}